@keyframes pan {
    0% {
        translate: 0 0;
    }
    100% {
        translate: 18px 0;
    }
}

#side-shadows {
    box-shadow: inset 0 0.5rem 2rem 0.25rem rgb(0 0 0 / 40%);
    z-index: -7;
    position: fixed;
    width: 100%;
    height: 100%;
}

.stripe {
    position: relative;
    top: -20px;
    bottom: -100px;
    height: 100%;
    width: 100%;
}

.stripe::before {
    position: absolute;
    content: "";
    z-index: -10;
    left: -50px;
    height: 100%;
    width: 110%;
    background-size: 18px 18px;
    background-image: linear-gradient(
            -45deg,
            rgb(var(--primary-stripe-rgb)) 25%,
            rgb(var(--secondary-stripe-rgb)) 25%,
            rgb(var(--secondary-stripe-rgb)) 50%,
            rgb(var(--primary-stripe-rgb)) 50%,
            rgb(var(--primary-stripe-rgb)) 75%,
            rgb(var(--secondary-stripe-rgb)) 75%,
            rgb(var(--secondary-stripe-rgb)) 100%
    );
    animation: pan 2s linear infinite;
}